// Typography
// --------------------------------------------------

$base-font: 'Lato', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
	font-size: 0px + $doc-font-size;
}


// Colors
// --------------------------------------------------
$base-color				 : black;
$header-color			 : black;
$sub-item-color			 : black;
$header-margin			 : #F45145;
$menu-top				 : black;
$menu-height			 : 70px;
$menu-overflow			 : black;
$body-color      		 : black;
$text-color      		 : white;
$comp-color 	 		 : complement(#222);
$border-color    		 : lighten(#222,60);
$white           		 : #fff;
$black           		 : #000;
$link-color 		     : red;

$primary			     : #222;
$success			     : #5cb85c;
$warning			     : #dd8338;
$danger				     : #C64537;
$info				     : #308cbc;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (max-width : 800px)";
$medium              : "only screen and (max-width : 1200px)";
$large               : "only screen and (min-width : 1201px)";
